body {
    background: url("cinema.jpg") no-repeat;
    background-size: cover;
}
.inputSearch {
    width: 60%;
    margin: 20px auto;
    display: block;
    padding: 0.5%;
    text-align: center;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    color: transparent;
    text-shadow: 0 0 0 gray;
}
.inputSearch:focus {
    outline: none;
    border: 2px solid tomato;
}
.inputSearch:focus::-webkit-input-placeholder {
    opacity: 0;
}
form input[type='submit'] {
    border:none;
    border-radius: 10px;
    background: tomato;
    margin: 1% auto 0;
    display: block;
    font-size: 20px;
}